.category-wrapper {
  display: flex;
  flex-direction: column;
  .title {
    align-self: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
  }
}
